node_modules
/node_modules
node_modules/
node_modules/*
node_modules/**/*

dist
/dist
dist/
dist/*
dist/**/*

public
/public
public/
public/*
public/**/*

build
/build
build/
build/*
build/**/*

*.js
/*.js